@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #F9F9F9;
  --foreground: #1A1A1A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: var(--font-syne), sans-serif;
  --font-sans: var(--font-urbanist), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
